body{
    margin: 0%;
    box-sizing: border-box;
    font-family: acumin-pro,sans-serif;
    height: 100vh;
    scroll-behavior: smooth;
    /* overflow: hidden; */
}
.announcement{
    margin: 0px;
    background-color: #007aff;
    font-family: acumin-pro,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    display: flex;
    justify-content: center;
    align-items:center ;
    height: 30px;
    font-size: 1rem;
}
.menu-container{
    display: flex;
    align-items: center;
    z-index: 100;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  
}

.dropdown {
  position: relative;
}

.dropdown .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}
.dropdown-menu{
  min-width:95vw !important;
  background-color: #ffffffcd;
}

.dropdown-menu >li{
  height: 90px;
  border-top:2px solid black ;
  padding-top: 25px;
}
.dropdown-menu >li:last-child{
  border-bottom:2px solid black ;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
.pink-background {
  opacity: 50%;
}

.menu-container > ul>li{
    
    
  margin-left: 10px;
  font-size: 1.5rem;
}
.menu-container > a:first-child{
  margin-left: 20px;
  
}
.logo{
  display: flex;
  align-items: center;
}
.logo >a{
  font-size: 2.5rem;
  letter-spacing: -4px;
}
.cart{
  margin-right: 10px;
}
.cart > p {
  font-size: 2rem;
} 
.img-container{
  display: flex;
  justify-content: center;
  width: 55vw;
  
}
.discription-container{
  display: flex;
  width: 35vw;
  padding-left: 50px;
  align-items: center;
}
.img-border{
  width: 60%;
  display: flex; 
  border: 1px solid black;
  border-radius: 50%;
  padding: 100px;
  justify-content: center;
  margin-top: 5rem;
}
.img-border > img{
  width: auto; /* Allow the image to scale proportionally */
  height: auto;
  padding: 20px 40px;
}
.radio-container{
  margin-top: 5px;
  display: flex;
  width: 55vw;
  justify-content: center;
}
.radio-container >input{
  margin-right: 5px;
}


.body-container{
  display: flex; 
  width: 100vw;
  height: 90vh;
  overflow: hidden;
}
.header {
    height: 50px;
    display: flex;
    justify-content: space-between;
  }
  
  .header-button {
    cursor: pointer;
  }
  
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(222, 215, 215, 0.763);
    display: none;
    align-items: center;
    justify-content: center;
  }
  
  .overlay p {
    color: white;
    font-size: 20px;
  }
  .product-nav-ul{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
  }
  .product-nav-ul > li{
    font-size: 1rem;
  }
  .product-form-title {
    margin: 20px 0;
    font-size: 28px;
    line-height: 30px;
}
h5, .h5 {
  font-size: 20px;
  line-height: 24px;
}
.grid-x>.small-6 {
  margin: 20px 0;
  width: 50%;
}
.grid-x{
  display: flex;
}
.cta, button.cta {
  transition: all .4s ease;
  background: #1d1d1b;
  font-size: 22px;
  color: #fff;
  display: block;
  text-decoration: none;
  text-align: center;
  border-radius: 25px;
  line-height: 24px;
  padding: 10px;
  border: 1px solid #1d1d1b;
}
.product-buy {
  width: 100%;
}

button {
  cursor: pointer;
}
button:hover {
  background-color: #007aff;
}
.single-product__free-delivery {
  font-family: acumin-pro,sans-serif;
  text-align: center;
  margin-top: 10px;
  color: #2455f6;
}
.accordion{
  width: 100%;;
}

.accordion,.contentBx{
  position: relative;
  margin: 10px 20px;
}

.accordion .contentBx .label{
  position: relative;
  padding: 10px;
  cursor: pointer;
}

.accordion .contentBx .label::before
{
  content: '+';
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  transition: all .4s ease; 
  font-size: 1.5em;
}

.accordion .contentBx .content{
  position: relative;
  background:#fff;
  height: 0;
  overflow: hidden;
  transition:0.5s ease-in-out;
  overflow-y: auto;
}
.contentBx:after, .contentBx:before {
  transition: all .5s ease;
  content: "";
  position: absolute;
  top: 25px;
  transform: translateY(-50%);
  background: #1d1d1b;
}

.accordion .contentBx.active .content{
  height: max-content;
  transition: all .4s ease;
  scroll-behavior: smooth;

}
.menu-item-container{
  height: 100px;
  background-color: white;
  border-bottom: 3px solid black;
}
.menu-item-container .heading{
  font-size: 2rem;
  font-weight: 600;
}
.menu-item-container:first-child{
  margin-top: 4.2rem;
  
}